@define-color secondary #3b3b3b;

root {
  font-size: 10px;
}

.item-box {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
}

.item-box > * {
  margin: 0.5rem;
}

.item-box:hover {
  background-color: @secondary;
}

.selected {
  background-color: @secondary;
}
